* {
	box-sizing: border-box;
}
body {
	font-family: "Myriad Pro";
	margin: 0;
	padding: 0;
}

/* typo */
h1 {
	font-size: 40px;
	font-weight: 900;
	letter-spacing: .03em;
}
h2 {
	text-align: center;
	font-size: 27px;
	letter-spacing: .03em;
	font-weight: 400;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: #666666;
	border-bottom: 1px solid #666666;
}
.content {
	width: 1170px;
	margin: auto;
}
.menu {
	width: 100%;
	height: 100px;
	padding: 39px 0;
}
.menu ul {
	margin: 0;
	float: right;
}
.menu li {
	float: left;
	list-style: none;
	margin: 0 20px;
}
.intro {
	height: 500px;
	display: flex;
	align-items: center;
}
.intro img {
	width: 320px;
	object-fit: contain;
}
.intro h1 {
	flex-grow: 2;
}
.intro h1::before {
	content: '';
	width: 60px;
	height: 4px;
	display: block;
	background-color: #b42f25;
	margin-bottom: 15px;
}
.nabizime {
	height: 500px;
}
.nabizime>div {
	display: flex;
	justify-content: center;
}
.nabizime p {
	width: 200px;
	text-align: center;
	flex-shrink: 0;
	margin: 0 30px;
	letter-spacing: .03em;	
}